/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    padding-top: 12vh; /* Ajuste para evitar sobreposição do banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    overflow-x: hidden; /* Impede rolagem horizontal */
    width: 100vw;
}

/* Contêiner do PDF */
#pdf-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    overflow-x: hidden; /* Evita que o conteúdo do PDF cause rolagem */
}

#pdf-container.visible {
    opacity: 1;
}

/* Estilos das páginas do PDF */
.pdf-page {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

canvas {
    width: 100%;
    height: auto;
}

/* Efeito de carregamento */
.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading.active {
    display: flex;
}

/* Ajustes gerais */
.content {
    display: none;
    width: 100%;
    padding-top: 12vh;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

.content.active {
    display: block;
}

/* Ajustes responsivos */
@media (max-width: 1024px) {
    #pdf-container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    #pdf-container {
        max-width: 95%;
    }
}

@media (max-width: 480px) {
    #pdf-container {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    #pdf-container {
        max-width: 100%;
    }
}